<form >
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" placeholder="Necessário passar um nome!" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" placeholder="Necessário passar um email!" required>
  </div>
  <div class="form-group">
    <label for="nome">Celular:</label>
    <input type="text" placeholder="Necessário passar um celular!" required>
  </div>
  <div class="form-group">
    <label for="criadoEm">CriadoEm:</label>
    <input type="date" placeholder="Necessário passar uma data!" required>
  </div>
  <div class="form-group">
    <label for="modificadoEm">ModificadoEm:</label>
    <input type="date" placeholder="Necessário passar uma data!" required>
  </div>
  <input type="submit" value="{{btnText}}">
</form>
